<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/list.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div th:replace="~{fragments/nav.html :: navbar}"></div>
<div class="card" th:each="item : ${items}">
    <img src="https://placehold.co/300" alt="">
    <div>
        <a th:href="@{'/detail/' + ${item.id}}" th:text="${item.getTitle()}"></a>
        <p th:text="${item.getPrice()} + 원"></p>
        <a th:href="@{'/update/' + ${item.getId()}}">✏️</a>
        <span class="delete" th:data="${item.getId()}">🗑️</span>
    </div>
</div>

<!--<button class="btn">버튼</button>-->

<script>
    const deleteId = document.querySelectorAll('.delete');
    deleteId.forEach((btn) => {
        btn.onclick = (e) => {
            e.preventDefault();
            fetch('/delete', {
                method : 'DELETE',
                headers : {'Content-Type': "application/json"},
                body : JSON.stringify(btn.getAttribute("data"))
            }).then(response => {
                if (response.status === 200) {
                    window.location.reload();
                    alert('삭제 성공');
                }
            })
        }
    })
    // document.querySelectorAll('.btn')[0].addEventListener('click', function (){
    //     fetch('/test1?name=kim&age=20')
    // })
</script>
</body>
</html>