<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>글</title>
</head>
<body>
<table border="1">
    <tr>
        <td>id</td>
        <td>글제목</td>
        <td>날짜</td>
    </tr>
    <tr th:each="notice : ${notices}">
        <td th:text="${notice.id}"></td>
        <td th:text="${notice.글제목}"></td>
        <td th:text="${notice.날짜}"></td>
    </tr>
</table>
</body>
</html>