<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/write.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div th:replace="~{fragments/nav.html :: navbar}"></div>
<form action="/add" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}">
    <input name="title">
    <input name="price">
    <input sec:authorize="isAuthenticated()" type="hidden" name="username" th:value="${#authentication.principal.username}">
    <input sec:authorize="isAnonymous()" name="username" th:value="'비회원'" type="hidden">
    <button type="submit">전송</button>
</form>
</body>
</html>